Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-11, with the labels that each got.

#7314 Bug fix: wrong value for `state/open` on Window Covering devices
  devices/ikea/blind.json
  devices/ikea/fyrtur_block-out_roller_blind.json
  devices/iluminize/roller_shutter_actuator_mini.json
  devices/merten/meg5113-0300_cover_controller.json
  devices/ubisys/j1_5502.json
  devices/ubisys/j1r_5602.json
  devices/wiser/wall_switch_shutter.json
  devices/xiaomi/lumi_curtain.json
  devices/xiaomi/lumi_curtain_acn002.json
Labels: Device Improvement, Fix

#7315 Remove value limits for `state/lift` and `state/tilt` resource items
  resource.cpp
Labels: Enhancement

#7317 DDF, add a clone for Woox Smart Remote Control R7054
  button_maps.json
  devices/woox/woox_r7054_remote.json
Labels: Device Request

#7329 DDF for black variant 5401399 of Namron heater
  devices/namron/5401395_heater.json
Labels: Device Request

#7321 DDF clone for Tuya window sensor (_TZ3000_yxqnffam)
  devices/tuya/_TZ3000_TS0203_door_sensor.json
Labels: Device Request

#7306 DDF clone for IHOMECAM zigbee-pir (_TZ3000_mg4dy6z6)
  devices/tuya/ts0202_presence_sensor.json
Labels: Device Request

#7304 DDF for Zemismart Tuya 2-gang no neutral switch (_TZ3000_lupfd8zu)
  devices/tuya/_TS0012_2gangs_wired_no_neutral_not_locked.json
Labels: Device Request

#7278 DDF for Xiaomi Aqara T1 open/close sensor MCCGQ12LM
  bindings.cpp
  database.cpp
  de_web_plugin.cpp
  devices/xiaomi/xiaomi_mccgq12lm_t1_openclose_sensor.json
  power_configuration.cpp
Labels: Device Request

#7341 DDF add clone for Tuya 4-gang switch (_TZ3000_wbfgbpxq)
  button_maps.json
  devices/tuya/_TZ3000_TS0044_4gang_remote.json
Labels: Device Request

#7389 Bug fix: wrong sign applying `config/offset` to `state/measured_value`
  devices/ikea/vindstyrka_air_quality_sensor.json
  devices/philips/sml001_motion_sensor.json
  devices/philips/sml002_motion_sensor.json
  devices/philips/sml003_motion_sensor.json
  devices/philips/sml004_motion_sensor.json
Labels: Fix

#7371 Enable setting/viewing write functions in DDF editor
  device_descriptions.cpp
  device_descriptions.h
  ui/ddf_itemeditor.cpp
  ui/ddf_itemeditor.h
Labels: Enhancement

#7354 DDF for Bosch Smoke Alarm II (#9)
  devices/bosch/bsd-2-smoke-alarm.json
Labels: Device Request

#7300 Add ddfvalidate validation option
  .github/workflows/verify-ddf-json.yml
Labels: Enhancement

#7393 DDF for Tuya Fingerbot
  devices/tuya/_TZ3210_dse8ogfy_fingerbot.json
Labels: Device Request

#7395 DDF Gold status for TONGOU TO-Q-SY1-ZT
  devices/tuya/_TZ3000_gzvniqjb_din_rail_switch.json
Labels: Enhancement

#7372 DDF clone for Tuya temperature and humidy sensor (_TZ3000_saiqcn0y)
  devices/tuya/_TZ3000_TS0201_temp_hum_sensor.json
Labels: Device Request

#7366 DDF clone for Tuya Mercator 1-gang switch module (_TZ3000_7jsk6lxz)
  devices/tuya/_TZ3000_TS0011_1gang_switch_module.json
Labels: Device Request

#7385 DDF clone for Tuya presence sensor (_TZ3040_bb6xaihh)
  devices/tuya/ts0202_presence_sensor.json
Labels: Device Request

#7362 DDF Add tuya_unlock to _TZ3000_ja5osu5g moes (tuya) smart button
  devices/tuya/_TZ3000_ja5osu5g_smart_button.json
Labels: Enhancement

#7356 DDF for various Merten / Schneider dimmer and simple switch
  button_maps.json
  devices/wiser/dimmer_switch_1Gang.json
  devices/wiser/dimmer_switch_2Gang.json
  devices/wiser/switch_1Gang.json
Labels: Device Request

#7359 Fix validation errors
  devices/danalock/danalock_v3.json
  devices/legrand/cable_outlet.json
  devices/tuya/_TZE200_dwcarsat_air_sensor.json
  devices/xiaomi/xiaomi_mccgq12lm_t1_openclose_sensor.json
  devices/xiaomi/xiaomi_mccgq14lm_e1_openclose_sensor.json
Labels: Device Improvement, Fix

#7384 Stop unnecessary attribute read requests for many Philips/Signify devices
  devices/philips/light_zb3_C.json
  devices/philips/light_zb3_C_gradient.json
  devices/philips/light_zb3_white.json
  devices/philips/light_zb3_white_ambiance.json
  devices/philips/light_zll_A.json
  devices/philips/light_zll_B.json
  devices/philips/light_zll_C.json
  devices/philips/lom007_smart_plug.json
  devices/philips/sml001_motion_sensor.json
  devices/philips/sml002_motion_sensor.json
  devices/philips/sml003_motion_sensor.json
  devices/philips/sml004_motion_sensor.json
Labels: Fix

#7373 DDF add support for Xiaomi LYWSD03MMC
  devices/xiaomi/xiaomi_lywsd03mmc.json
Labels: Device Request

#7405 Restore `parse` functions for `maufacturername` and `modelid`
  devices/generic/items/attr_manufacturername_item.json
  devices/generic/items/attr_modelid_item.json
Labels: Fix

#7397 DDF, solve DDF validation for the Tuya fingerbot
  devices/tuya/_TZ3210_dse8ogfy_fingerbot.json
Labels: Fix

#7404 DDF for Woox R7049 Smart Smoke Alarm
  devices/woox/Woox_R7049_Smart_Smoke_Alarm.json
Labels: Device Request

#7361 Fix LIDL smart plug consumption value multiplier
  devices/lidl/hg08673.json
Labels: Fix
