Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-01, with the labels that each got.

#6642 Fix missing whitespace trimming on strings
  resource.cpp
Labels: Fix

#6640 Fix misleading debug message for resourcelinks
  database.cpp
Labels: Fix

#6622 Fix typo in ZCLDB
  general.xml
Labels: Fix

#6648 DDF for NEXENTRO blinds actuator mini
  devices/nexentro/nexentro_blinds_actuator_mini.json
Labels: Device Request

#6630 Update and rename _TZ3000_gbm10jnj_3gang_remote.json to TS0043_3gang_…
  button_maps.json
  devices/tuya/TS0043_3gang_remote.json
Labels: Device Request

#6589 Unified DDF for different Nous A1Z smart plugs
  devices/tuya/nous_a1z_smart_plug.json
Labels: Device Request

#6573 DDF add support for Owon PIR313-E
  devices/owon/PIR313-E_sensor_multi.json
Labels: Device Request

#6575 Add DDF for Nedis ZBRC10WT 4 button remote
  button_maps.json
  devices/nedis/nedis_zbrc10wt.json
Labels: Device Request

#6625 Update and rename aubess_multi_sensor_TZ3000_bguser20
  devices/aubess/aubess_multi_sensor_TZ3000_bguser20.json
Labels: Enhancement

#6607 Add DDF for Aqara T1 Light Sensor GZCGQ11LM
  devices/xiaomi/xiaomi_gzcgq11lm_light_sensor.json
Labels: Device Request

#6543 Add DDF: Tuya Multi Sensor Temp./Humidity (_TZE200_znbl8dj5, _TZE200_qoy0ekbd)
  devices/_TZE200_TS0601_humidity_temp.json
Labels: Device Request

#6564 Hue smart button revisited... again.
  devices/philips/rom001_smart_button.json
Labels: Device Request

#6524 Add DDF for Develco/frient MOSZB-141 motion sensor
  devices/develco/moszb-141_motion_sensor.json
Labels: Device Request

#6537 DDF for Aubess 20A smart socket (_TZ3000_hdopuwv6)
  devices/aubess/aubess_muti_sensor_TZ3000_bguser20.json
  devices/aubess/aubess_plug_TZ3000_hdopuwv6.json
Labels: Device Request

#6612 DDF for Tuya smart plug (_TZ3000_cehuw1lw)
  devices/tuya/_TZ3000_cehuw1lw_smartplug_EU.json
Labels: Device Request

#6623 Update and rename _TZ3000_d16y6col_water_sensor.json to _TZ3000_water…
  devices/tuya/_TZ3000_water_sensor.json
Labels: Device Request

#6613 DDF support for the Nedis temperature/humidity sensor (_TZ3000_fie1dpkm)
  devices/tuya/_TZ3000_yd2e749y_temp_hum_sensor.json
Labels: Device Request

#6510 DDF, add the mode historique+HPHC+triphase for the Zlinky
  devices/lixee/zlinky_tic_histo_tri_hphc.json
Labels: Device Request

#6577 DDF for Moes/Aubess temperature/humidity sensor with LCD (_TZ3000_ywagc4rj)
  devices/moes/Moes_TZ3000_ywagc4rj_TS0201_temp_hum_with_LCD.json
Labels: Device Request

#6569 Adding some SENGLED specific cluster definitions
  general.xml
Labels: Enhancement

#6477 Add DDF for GE 45856
  devices/Jasco-GE/GE45856_wall_switch.json
Labels: Device Request

#6531 Zusatzgerät für Lidl Silvercrest Gartenspieß mit 2 Steckdosen HG06620
  product_match.cpp
Labels: Device Request

#6496 DDF for Senged e1d g73 door and window sensor
  devices/sengled/e1d-g73.json
Labels: Device Request

#6507 DDF add variant to Tuya TS0202 presence sensor (_TZ3040_6ygjfyll)
  devices/tuya/ts0202_presence_sensor.json
Labels: Device Request

#6605 Fix DDF remove unused battery field for IOMZB-110
  devices/develco/iomzb-110_switch_module.json
Labels: Fix

#6651 DDF add clone for frient plug
  devices/frient/splzb-131_smart_plug.json
Labels: Device Request

#6431 Add DDF for OTH4000-ZB thermostat
  devices/ouellet/OTH4000-ZB
Labels: Device Request

#6653 Update config_sensitivitymax_item.json
  devices/generic/items/config_sensitivitymax_item.json
Labels: Fix

#6547 DDF for Aqara Smart Radiator Thermostat E1
  devices/xiaomi/xiaomi_lumi.airrtc.agl001.json
  general.xml
Labels: Device Request

#6652 Fix regression for `config/devicemode` usage
  rest_sensors.cpp
Labels: Fix

#6011 Adding Sinope Thermostat TH11xxZB management of Occupancy specific attribute and Unoccupied heat set point
  devices/generic/items/config_unoccupiedheatsetpoint_item.json
  devices/sinope/th1124zb.json
  resource.cpp
  resource.h
  rest_sensors.cpp
Labels: Device Request

#6526 DDF for Tuya 3gang modelid TS0043 (_TZ3000_w8jwkczz)
  button_maps.json
  devices/tuya/TS0043_3gang_remote.json
Labels: Device Request

#6606 DDF for Tuya door sensor ZG-102Z (_TZE200_pay2byax)
  devices/tuya/_TZE200_pay2byax_openclose_sensor.json
Labels: Device Request

#6474 DDF: Add support for all current NEO smart plugs with metering (TS011F)
  devices/neo/NAS-WR01B.json
  devices/neo/NAS-WR01B_TS011F.json
Labels: Device Request

#6663 Move _TZE200_TS0601_humidity_temp.json to /tuya directory
  devices/tuya/_TZE200_TS0601_humidity_temp.json
Labels: Enhancement

#6660 Including Zigbee Alliance values for Physical Environnement and Batte…
  general.xml
Labels: Enhancement

#6662 Move _TZE200_2wg5qrjy_valve.json to devices/tuya directory
  devices/tuya/_TZE200_2wg5qrjy_valve.json
Labels: Enhancement

#6659 Completing some Sinope specific thermostat attributes in ZCLDB
  general.xml
Labels: Enhancement

#6655 Update and rename DDF for SONOFF SNZB-02 multi sensor
  devices/sonoff/snzb-02-multisensor.json
Labels: Enhancement

#6465 DDF for Tuya Single Phase 65A Din Rail Smart Energy Meter
  devices/tuya/_TZE200_byzdayie_din_enrgy_meter.json
Labels: Device Request

#6458 DDF for Tuya Luminance Motion Sensor Model ZG-204ZL
  devices/tuya/_TZE200_3towulqd_motion_lux_sensor.json
Labels: Device Request

#6391 DDF for IKEA PRAKTLYSING cellular blind
  devices/ikea/tredansen_block-out_cellul_blind.json
Labels: Device Request

#6345 Update e1c-nb7.json to add pseudo power cluster for third party apps.
  devices/sengled/e1c-nb7.json
Labels: Enhancement

#6110 DDF for Ikea Fyrtur roller blind
  devices/ikea/fyrtur_block-out_roller_blind.json
Labels: Device Request

#6678 DDF for Nedis Zigbee motion sensor ZBSM10WT
  devices/nedis/nedis_zbsm10wt_motion_sensor.json
Labels: Device Request

#6357 Add DDF for Ikea TRADFRI remote control E1810
  devices/ikea/tradfri_remote_control.json
Labels: Device Request

#6679 Update ts0202_presence_sensor to support _TZ3000_6ygjfyll
  devices/tuya/ts0202_presence_sensor.json
Labels: Device Request

#6702 Negative value for zclFrame.payload().at() on x86
  device_js/device_js_duktape.cpp
  device_js/device_js_wrappers.cpp
Labels: Fix

#6698 DDF FIX, correct bad report type for Lixee device
  devices/lixee/zlinky_tic_histo_tri_hphc.json
  devices/lixee/zlinky_tic_historique_mono_base.json
  devices/lixee/zlinky_tic_historique_mono_hphc.json
  devices/lixee/zlinky_tic_standard_mono_base.json
Labels: Fix
