Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-04, with the labels that each got.

#6838 ZCLDB add IAS zone sensitivity levels attributes
  general.xml
Labels: Enhancement

#6801 DDF for Moes 2-gang push button switch (_TZ3000_18ejxno0 / TS0012)
  devices/moes/Moes_TZ3000_TS0012_Battery_2_gang_switches.json
Labels: Device Request

#6847 Add DDF for Aqara high precision motion sensor RTCGQ13LM
  devices/xiaomi/xiaomi_rtcgq13lm_presence_sensor.json
Labels: Device Request

#6815 DDF add variant for Develco ZHEMI101 external meter
  devices/develco/zhemi101_external_meter_interface.json
Labels: Device Request

#6793 DDF add support for Aeotec Range Extender Zi
  devices/aeotec/WG001-Z01_range_extender.json
Labels: Device Request

#6792 DDF add support for Namron Panel Heater
  devices/namron/5401395_heater.json
Labels: Device Request

#6787 Fix battery drain and add switch variants to _TZ3000_TS044_4gang_remote.json
  button_maps.json
  devices/tuya/_TZ3000_TS044_4gang_remote.json
Labels: Fix

#6858 DDF for ubisys D1
  devices/ubisys/d1_5503.json
Labels: Device Request

#6850 Change DDF for STARKVIND
  devices/ikea/starkvind_air_purifier.json
Labels: Device Improvement, Fix

#6846 Add DDF for Aqara open/close sensor MCCGQ11LM
  devices/xiaomi/xiaomi_mccgq11lm_openclose_sensor.json
Labels: Device Request

#6832 DDF for HZC S900W-ZG water leak sensor
  devices/hzc_electric/s900w-zg_water_leak_sensor.json
Labels: Device Request

#6779 Add support for Tuya unlock item.
  devices/generic/items/config_tuya_unlock_item.json
  resource.cpp
  resource.h
Labels: Enhancement

#6863 Add DDF generic item config/configured
  devices/generic/items/config_configured_item.json
Labels: Enhancement

#6860 Fix device detection for Legrand cable outlet
  devices/legrand/cable_outlet.json
Labels: Fix

#6864 Fix Javascript crash when setting unsupported JS value to item
  device_js/device_js_duktape.cpp
Labels: Fix

#6828 DDF for Aqara mini switch WXKG20LM
  button_maps.json
  devices/xiaomi/xiaomi_wxkg20lm_mini_switch.json
Labels: Device Request, Fix

#6839 DDF for Tuya soil sensor (_TZE200_myd45weu / TS0601)
  devices/generic/constants.json
  devices/generic/items/state_moisture_item.json
  devices/generic/subdevices/moisture_sensor.json
  devices/tuya/_TZE200_myd45weu_soil_sensor.json
Labels: Device Request

#6851 DDF for GLEDOPTO RGBW
  devices/gledopto/gledopto.json
Labels: Device Request

#6853 DDF for Heiman SmartPlug
  devices/heiman/smartplug.json
Labels: Device Request

#6849 Add `fingerprint` to DDFs for `sensors` resources
  devices/develco/smszb-120_smoke_detector.json
  devices/ikea/fyrtur_block-out_roller_blind.json
  devices/ikea/vindstyrka_air_quality_sensor.json
  devices/innr/sp_120.json
  devices/philips/rom001_smart_button.json
  devices/philips/rwl022_dimmer_switch.json
  devices/philips/sml001_motion_sensor.json
  devices/philips/sml002_motion_sensor.json
  devices/philips/sml003_motion_sensor.json
  devices/philips/sml004_motion_sensor.json
  devices/xiaomi/aq_curtain_acn002.json
  devices/xiaomi/xiaomi_rtczcgq11lm_fp1_presence_sensor.json
Labels: Device Improvement, Fix

#6890 Fix removal of still required simple metering attribute
  simple_metering.h
Labels: Fix

#6892 Fix `swversion` data used for MFKZQ01LM DDF
  devices/xiaomi/xiaomi_mfkzq01lm_cube.json
Labels: Fix

#6891 Fix missing occupancy sensing cluster in fingerprint for RTCGQ13LM DDF
  devices/xiaomi/xiaomi_rtcgq13lm_presence_sensor.json
Labels: Fix

#6695 DDF for Technicolor XHK1-TC Keypad
  devices/xfinity/THK1_keypad.json
Labels: Device Request

#6726 DDF for Sonoff ZBMINIL2
  devices/sonoff/zbmini-l_relay.json
Labels: Device Request

#6842 Add DDF for Tuya / TONGOU TO-Q-SV1-ZT
  devices/tuya/_TZ3000_gzvniqjb_din_rail_switch.json
Labels: Device Request

#6728 DDF for Tuya 3-gang switch (_TZ3000_w3c7ouru)
  button_maps.json
  devices/tuya/TS0043_3gang_remote.json
Labels: Device Request

#6893 DDF for LIDL Silvercrest Smart USB Extension Lead
  devices/lidl/hg06338.json
Labels: Device Request

#6895 Fix IKEA FYRTUR block-out roller blind
  devices/ikea/fyrtur_block-out_roller_blind.json
Labels: Device Improvement, Fix

#6896 DDF for Tuya Avatto radiator actuator (_TZE200_bvu2wnxz)
  devices/tuya/_TZE200_bvu2wnxz_trv.json
Labels: Device Request

#6894 DDF for Xiaomi Aqara Smart Curtain Controller
  devices/xiaomi/lumi_curtain.json
Labels: Device Request

#6877 Add fingerprint in SMT402AD thermostat DDF
  devices/stelpro/smt402ad.json
Labels: Fix

#6784 Refactor switch selection to emit button events
  de_web_plugin.cpp
Labels: Fix, Enhancement

#6826 Fix Third Reality water sensor (3RWS18BZ) battery value
  devices/third_reality/3RWS18BZ_water_sensor.json
Labels: Device Request, Fix

#6781 DDF for Blitzwolf BW-IS4 multisensor (_TYZB01_hjsgdkfl)
  devices/blitzwolf/bw_is4_multisensor.json
Labels: Device Request

#6878 Philips vs Signify
  devices/generic/items/attr_manufacturername_item.json
  devices/generic/items/attr_modelid_item.json
  devices/philips/light_zb3_C.json
  devices/philips/light_zb3_C_festavia.json
  devices/philips/light_zb3_C_gradient.json
  devices/philips/light_zll_A.json
  devices/philips/light_zll_B.json
  devices/philips/light_zll_C.json
  devices/philips/lom007_smart_plug.json
  devices/philips/rdm001_wall_switch_module.json
  devices/philips/rdm002_tap_dial_switch.json
  devices/philips/rwl022_dimmer_switch.json
  devices/philips/rwl02_dimmer_switch.json
  devices/philips/sml001_motion_sensor.json
  devices/philips/sml002_motion_sensor.json
  devices/philips/sml003_motion_sensor.json
  devices/philips/sml004_motion_sensor.json
Labels: Fix

#6898 Fix Aqara Roller Shade Driver E1
  devices/generic/items/config_reversed_item.json
  devices/generic/items/config_speed_item.json
  devices/xiaomi/lumi_curtain_acn002.json
  general.xml
  resource.cpp
  resource.h
  rest_lights.cpp
Labels: Device Improvement, Fix

#6866 DDF for Tuya TMZ02L-16A-W (_TZ3000_v7sopte0)
  devices/tuya/_TZ3000_TS0011_1gang_switch_module.json
Labels: Device Request

#6897 Update Tuya Soil Sensor DDF
  devices/tuya/_TZE200_myd45weu_soil_sensor.json
Labels: Device Improvement

#6791 Enable usage of zigbee install codes
  de_web.pro
  rest_devices.cpp
  utils/utils.cpp
  utils/utils.h
Labels: Enhancement

#6908 Fix resource item `config/heatsetpoint` not having a default write function
  devices/generic/items/config_heatsetpoint_item.json
Labels: Fix

#6902 DDF for Moes Smart Switch Module 3-gang MS-104CZ (_TZ3000_pfc7i3kt)
  devices/tuya/_TZ3000_pfc7i3kt_smart_switch_3gangs_locked.json
Labels: Device Request

#6874 DDF for Tuya 2CH Switch Modul-L (_TZ3000_jl7qyupf)
  devices/tuya/_TZ3000_jl7qyupf_2gangs_switch_locked.json
Labels: Device Request

#6867 Fix Aqara TVOC Air Quality Monitor
  devices/generic/items/attr_xiaomi_item.json
  devices/ikea/vindstyrka_air_quality_sensor.json
  devices/xiaomi/0001_battery.js
  devices/xiaomi/fcc0_airmonitor_acn01.js
  devices/xiaomi/lumi_airmonitor_acn01.json
  devices/xiaomi/lumi_curtain_acn002.json
  devices/xiaomi/lumi_motion_ac01.json
  general.xml
  resource.cpp
  resource.h
Labels: Fix

#6879 Add Qaynn smoke detector to existing DDF
  devices/tuya/_TZE200_m9skfctm_smoke_detector.json
Labels: Device Request

#6835 DDF for various Tuya based range extenders
  devices/tuya/_TZ3000__TS0207_range_extender.json
Labels: Device Request

#6833 DDF for various TS0207 Tuya based water leak sensors
  devices/tuya/_TZ3000_TS0207_water_leak_sensor.json
Labels: Device Request

#6907 DDF for further NEO NAS-WR01B smart plugs
  devices/neo/NAS-WR01B_TS011F.json
Labels: Device Request

#6910 Update general.xml to avoid 'invalid range attribute' at startup
  general.xml
Labels: Fix

#6909 Update ZCLDB <cluster id="0x0000" name="Basic">
  general.xml
Labels: Enhancement

#6882 DDF for Salus PS600 Pipe temperature sensor
  devices/computime-salus/computime_battery.js
  devices/computime-salus/ss909zb_temp_sensor.json
Labels: Device Request

#6899 Fix ZCLDB On/Off cluster attribute compliance
  general.xml
Labels: Fix

#6865 Update _TZ3000_TS011F_PowerStrip to include config/tuya_unlock
  devices/tuya/_TZ3000_TS011F_PowerStrip.json
Labels: Enhancement

#6911 DucktapeJS convert eval strings to UTF-8
  device_js/device_js_duktape.cpp
Labels: Fix
