Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-05, with the labels that each got.

#6914 general.xml: Remove workarounds for GUI bug
  general.xml
Labels: Fix

#6932 Delete E21-N1EA useless file
  devices/sengled/E21-N1EA
Labels: Fix

#6926 DDF for MOES door/window sensor (_TZ3000_decxrtwa)
  devices/tuya/_TZ3000_TS0203_door_sensor.json
Labels: Device Request

#6953 DDF for Tuya 2-channel switch module (_TZ3000_zmy4lslw)
  devices/tuya/_TZ3000_zmy4lslw_2channel_module.json
Labels: Device Request

#6915 DDF update for various ts0202 presence sensors
  devices/tuya/ts0202_presence_sensor.json
Labels: Device Request

#6974 Fix battery updates not contributing to sensor availability
  power_configuration.cpp
Labels: Fix

#6977 Add DDF + Button Map for _TZ3000_ja5osu5g Tuya Smart Button
  button_maps.json
  devices/tuya/_TZ3000_ja5osu5g_smart_button.json
Labels: Device Request

#6970 DDF add support for Legrand wakeup/sleep remote 064884
  devices/legrand/Remote_switch_Wakeup_sleep.json
Labels: Device Request

#6959 DDF add support for Moes MS-104BZ
  devices/moes/Moes_MS-104BZ_wired_switch_2_gangs.json
Labels: Device Request

#6957 Use Tuya unlock sequence for Moes 2-gang switch (_TZ3000_18ejxno0)
  devices/moes/Moes_TZ3000_TS0012_2_gang_switches.json
Labels: Enhancement

#6971 DDF for Tradfri bulb E14 WS Opal 600 lm
  devices/ikea/tradfri_bulb_e14_ws_opal_600lm.json
Labels: Device Request

#6963 DDF for Tradfri bulb e27 ws opal 1000lm
  devices/ikea/tradfri_bulb_e27_ws_opal_1000lm.json
Labels: Device Request

#6964 DDF for Tradfri bulb e27 w opal 1000lm
  devices/ikea/tradfri_bulb_e27_w_opal_1000lm.json
Labels: Device Request

#6983 DDF add support for ThirdReality Temperature and Humidity Sensor with Digital LCD Display - 3RTHS24BZ
  devices/third_reality/3RTHS24BZ_multi_sensor.json
Labels: Device Request

#6984 IKEA Styrbar firmware 2.4.5.
  button_maps.json
  devices/ikea/styrbar_remote_control.json
Labels: Device Improvement, Fix

#6920 Combine two Tuya water leak sensor DDFs
  devices/tuya/_TZ3000_TS0207_water_leak_sensor.json
  devices/tuya/_TZ3000_water_sensor.json
Labels: Device Request, Fix

#6956 Create missing config_volume_item.json
  devices/generic/items/config_volume_item.json
Labels: Enhancement

#6955 Create missing config_melody_item.json
  devices/generic/items/config_melody_item.json
Labels: Enhancement

#6982 Update Sinopé specific cluster in ZCLDB
  general.xml
Labels: Enhancement

#6929 Change various DDF that exists for a while from Silver level to Gold
  devices/3A-Nue/lxt56-ls27lx1.7.json
  devices/Jasco-GE/GE45856_wall_switch.json
  devices/computime-salus/ss909zb_temp_sensor.json
  devices/heiman/hs2wd-e_smart_siren.json
  devices/ouellet/OTH4000-ZB
  devices/sengled/e1c-nb7.json
  devices/sengled/e1d-g73.json
  devices/sinope/th1124zb.json
  devices/tuya/ZY-M100_human_breathing_presence.json
  devices/tuya/_TZE200_m9skfctm_smoke_detector.json
Labels: Enhancement

#6966 DDF update for Tradfri gu10 ws 400lm
  devices/ikea/gu10_ws_400lm_light.json
Labels: Device Request

#6986 DDF add ZTH01 & ZTH02 temp and humidity sensor
  devices/tuya/_TZE200_TS0601_humidity_temp.json
Labels: Device Request

#6991 Fix DDF for Hive - take 2
  devices/dresden_elektronik/hive.json
Labels: Device Improvement

#6924 DDF for Tesla TSL-SEN-TAH multi sensor
  devices/tesla/TSL-SEN-TAH_multi_sensor.json
Labels: Device Request

#6992 Fix typo in Xiaomi RTCGQ13LM DDF
  devices/xiaomi/xiaomi_rtcgq13lm_presence_sensor.json
Labels: Fix

#6946 DDF for Konke Kit Pro Multi Function Button IC 23777-KPKEY
  devices/konke/3AFE280100510001_battery_switch.json
Labels: Device Request

#6965 DDF for Tradfri bulb e27 ww 806lm
  devices/ikea/tradfri_bulb_e27_ww_806lm.json
Labels: Device Request

#6968 DDF update for Tradfri bulb e27 ws globe opal 1055lm
  devices/ikea/tradfribulbe27wsglobeopal1055lm.json
Labels: Device Request

#6943 DDF - Add Teekar Zigbee light switch support
  devices/tuya/_TZ3000_TS0011_1gang_switch_module.json
Labels: Device Request

#6936 Some more Hue lights
  device_access_fn.cpp
  devices/generic/items/attr_productname_item.json
  devices/philips/0000_capabilities.js
  devices/philips/fc03_state.js
  devices/philips/light_zb3_C.json
  devices/philips/light_zb3_C_festavia.json
  devices/philips/light_zb3_C_gradient.json
  devices/philips/light_zll_A.json
  devices/philips/light_zll_B.json
  devices/philips/light_zll_C.json
  devices/philips/lom007_smart_plug.json
  devices/philips/rdm001_wall_switch_module.json
  devices/philips/rdm002_tap_dial_switch.json
  devices/philips/rom001_smart_button.json
  devices/philips/rwl022_dimmer_switch.json
  devices/philips/rwl02_dimmer_switch.json
  devices/philips/sml001_motion_sensor.json
  devices/philips/sml002_motion_sensor.json
  devices/philips/sml003_motion_sensor.json
  devices/philips/sml004_motion_sensor.json
  general.xml
  rest_sensors.cpp
  thermostat.cpp
  zcl/zcl.cpp
  zcl/zcl.h
Labels: Device Improvement

#6906 Update ZCLDB to add/update some Measurement clusters
  general.xml
Labels: Enhancement

#6859 DDF for various Tuya TRVs
  devices/tuya/_TZE200_h4cgnbzg_trv.json
Labels: Device Request

#7001 DDF fix .json name of file _TZ3000_TS044_4gang_remote
  devices/tuya/_TZ3000_TS0044_4gang_remote.json
Labels: Fix

#7002 DDF fix - Add _TZ3000 to TS0043_3gang_remote.json
  devices/tuya/_TZ3000_TS0043_3gang_remote.json
Labels: Fix

#6988 Update Tuya specific definitions in ZCLDB
  general.xml
Labels: Enhancement

#6949 DDF for Tuya TRV ( _TZE200_2ekuz3dz )
  devices/tuya/_TZE200_2ekuz3dz_trv.json
Labels: Device Request

#7000 DDF add clones of Tuya ZY-M100 presence sensor
  devices/tuya/ZY-M100_human_breathing_presence.json
Labels: Device Request

#7008 Add DDF for Heiman smoke detector HS1SA
  devices/heiman/hs1sa_smoke_sensor.json
Labels: Device Request

#7013 DDF HG08673 LIDL SilverCrest smart plug with monitoring
  devices/lidl/hg08673.json
Labels: Device Request

#7006 DDF add Nedis ZBWS10WT switch
  button_maps.json
  devices/tuya/_TZ3000_TS0041_1gang_bat.json
Labels: Device Request

#7005 DDF move NEO DDF to manufacturer folder
  devices/neo/TS0012_Immax_smart_controller.json
Labels: Enhancement

#6753 DDF for Moes vibration sensor (_TZ3000_bmfw9ykl)
  devices/tuya/_TZ3000_bmfw9ykl_vibration_sensor.json
Labels: Device Request

#7015 Fix excessive battery polling for Heiman and Orvibo smoke sensors
  devices/heiman/hs1sa_smoke_sensor.json
  devices/orvibo/sf21_smoke_sensor.json
Labels: Fix

#7007 DDF add support for Fantem multi sensor
  device_access_fn.cpp
  devices/fantem/zb003-x_multi_sensor.json
Labels: Device Request

#7020 Schneider specific cluster/attribute updates in general.xml
  general.xml
Labels: Enhancement
