Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-10, with the labels that each got.

#7269 New IKEA firmware
  devices/ikea/blind.json
  devices/ikea/tradfri_on_off_switch.json
  devices/ikea/tradfri_open_close_remote.json
  devices/ikea/tradfri_remote_control.json
  devices/ikea/tradfri_shortcut_button.json
Labels: Device Improvement, Fix

#7271 DDF add some clone for Tuya water sensor
  devices/tuya/_TZ3000_TS0207_water_leak_sensor.json
Labels: Device Request

#7277 Add support for another Hue Bloom `modelid`
  devices/philips/light_zb3_C.json
Labels: Device Request

#7281 Fix heavy bogus database writes
  database.cpp
  de_web_plugin.cpp
  device_compat.cpp
Labels: Fix

#7285 Hue lights: Fix validator errors
  devices/philips/light_zb3_C.json
  devices/philips/light_zb3_C_festavia.json
  devices/philips/light_zb3_C_gradient.json
  devices/philips/light_zb3_white.json
  devices/philips/light_zb3_white_ambiance.json
Labels: Device Improvement, Fix

#7283 DDF for Lidl Smart Plug HG08673-DK (_TZ3000_nkcobies)
  devices/lidl/hg08673.json
Labels: Device Request
