Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-09, with the labels that each got.

#7207 Fix LIDL smart watering timer missing ZHAOpenClose state/open item (_TZE200_htnnfasr)
  devices/tuya/_TZE200_htnnfasr_water_valve.json
Labels: Fix

#7206 Add support for latest Hue firmware
  devices/philips/fc03_state.js
  devices/philips/light_zb3_C.json
  devices/philips/light_zb3_C_festavia.json
  devices/philips/light_zb3_C_gradient.json
  devices/philips/light_zll_C.json
  hue.cpp
Labels: Enhancement

#7146 DDF add item file for cap/measured_value/substance
  devices/generic/items/cap_measured_value_substance.json
  devices/generic/subdevices/carbondioxide_sensor.json
  devices/generic/subdevices/formaldehyde_sensor.json
  devices/generic/subdevices/particulatematter_sensor.json
Labels: Enhancement

#7210 Fix alarm systems set code
  crypto/scrypt.cpp
Labels: Fix

#7165 [subdevice] Add type ZHAAncillaryControl
  devices/frient/kepzb-110_keypad.json
  devices/generic/constants.json
  devices/generic/subdevices/ancillary_control.json
  devices/xfinity/THK1_keypad.json
Labels: Enhancement

#7212 Fix air quality printf format warning
  air_quality.cpp
Labels: Fix

#7208 Fix sensitivity for lumi_vibration_aq1
  devices/xiaomi/lumi_vibration_aq1.json
Labels: Device Improvement

#7214 Fix TRÅDFRI Shortcut button sent 1004 instead 2004 event
  button_maps.json
Labels: Device Improvement

#7217 Update etag when removing user fix #7216
  rest_configuration.cpp
Labels: Fix

#7213 DDFs for Trådfri bulbs
  devices/ikea/cws_light.json
  devices/ikea/e27_cws_opal_600lm_light.json
  devices/ikea/tradfri_bulb_e27_cws_opal_600lm.json
  devices/ikea/tradfri_bulb_e27_cws_opal_806lm.json
  devices/ikea/tradfri_bulb_e27_ws_opal_980lm.json
Labels: Device Improvement

#7131 Fix macOS opening of button maps file
  de_web_plugin.cpp
Labels: Fix

#7221 Fix DDF validation errors.
  devices/dresden_elektronik/fls_pp3.json
  devices/ikea/e14_ws_opal_400lm_light.json
  devices/ikea/tradfribulbe27wsglobeopal1055lm.json
  devices/linkind/ZBT-CCTLight-D0106.json
  devices/linkind/ZBT-CCTLight-M3500107.json
  devices/ouellet/OTH4000-ZB.json
  devices/owon/ac201.json
  devices/sengled/E12-N1E.json
  devices/siglis/zigfred_plus_wired_switch.json
  devices/siglis/zigfred_uno_wired_switch.json
  devices/tesla/TSL-SEN-TAH_multi_sensor.json
  devices/tuya/_TZE200_dwcarsat_air_sensor.json
  devices/tuya/_TZE200_htnnfasr_water_valve.json
  devices/xiaomi/xiaomi_lumi.light.aqcn02_TunableWhite_Bulb.json
Labels: Fix

#7211 DDF add support for 4 channel module _TZ3000_wkr3jqmr
  devices/tuya/_TZ3000_wkr3jqmr_4channel_module.json
Labels: Device Request

#7227 Add support for Hue Secure Contact Sensor
  devices/generic/items/state_eventduration_item.json
  devices/philips/soc001_contact_sensor.json
  general.xml
  resource.cpp
Labels: Device Request

#7230 DDF for IKEA RODRET Dimmer
  bindings.cpp
  devices/generic/items/cap_group_item.json
  devices/generic/touchlink_commissioning_cluster/1000_get_group_identifiers.js
  devices/ikea/rodret_dimmer.json
  general.xml
  resource.cpp
  resource.h
  rest_sensors.cpp
Labels: Device Improvement

#7232 DDF for IKEA STYRBAR Remote Control N2
  devices/ikea/styrbar_remote_control.json
Labels: Device Improvement

#7234 DDF for TRADFRI remote control
  devices/ikea/tradfri_remote_control.json
Labels: Device Improvement

#7235 DDF for IKEA TRADFRI SHORTCUT button
  devices/ikea/tradfri_shortcut_button.json
Labels: Device Request, Device Improvement

#7238 Update rodret_dimmer.json
  devices/ikea/rodret_dimmer.json
Labels: Device Improvement

#7251 Rename state{x,y} item generic file
  devices/generic/items/state_x_item.json
  devices/generic/items/state_y_item.json
Labels: Enhancement

#7252 Add API and websocket support for `state/measured_value` and corresponding `cap` items.
  devices/generic/items/cap_measured_value_quantity.json
  resource.cpp
  resource.h
  rest_sensors.cpp
Labels: Enhancement

#7253 Support `DataTypeReal`
  resource.cpp
  resource.h
Labels: Enhancement

#7249 DDF for IKEA TRADFRI Signal Repeater
  devices/ikea/tradfri_signal_repeater.json
Labels: Device Request, Device Improvement

#7258 Fix compiler warning for QLatin1String bounds
  ui/ddf_editor.cpp
  utils/bufstring.h
Labels: Fix

#7244 IKEA bulbs: add `productid`
  devices/ikea/tradfri_bulb_e27_cws_opal_600lm.json
  devices/ikea/tradfri_bulb_e27_cws_opal_806lm.json
  devices/ikea/tradfri_bulb_e27_w_opal_1000lm.json
  devices/ikea/tradfri_bulb_e27_ws_opal_980lm.json
  devices/ikea/tradfri_control_outlet.json
Labels: Device Improvement

#7257 Bug fix: CLIP sensor's `config/battery` not restored
  sensor.cpp
Labels: Confirmed Bug, Fix

#7242 DDF for IKEA TRADFRI wireless dimmer
  devices/ikea/tradfri_wireless_dimmer.json
Labels: Device Request, Device Improvement

#7243 DDF for IKEA TRADFRI motion sensor
  devices/ikea/0006_presence.js
  devices/ikea/tradfri_motion_sensor.json
Labels: Device Request, Device Improvement

#7237 DDF for IKEA TRADRI on/off switch
  devices/ikea/tradfri_on_off_switch.json
Labels: Device Request, Device Improvement

#7236 DDF for TRADFRI open/close remote
  devices/ikea/tradfri_open_close_remote.json
Labels: Device Request, Device Improvement

#7228 DDF for Legrand / BTicino Master remote SW Home / Away
  devices/legrand/Remote_switch_home_away.json
Labels: Device Request

#7247 Update DDFs for Hue motion sensors
  devices/philips/sml001_motion_sensor.json
  devices/philips/sml002_motion_sensor.json
  devices/philips/sml003_motion_sensor.json
  devices/philips/sml004_motion_sensor.json
Labels: Device Improvement

#7240 DDF for IKEA SYMFONISK Sound Contoller
  devices/generic/items/config_alert_item.json
  devices/ikea/0008_rotaryevent.js
  devices/ikea/symfonisk_sound_contoller.json
Labels: Device Request, Device Improvement

#7246 DDF for IKEA VINDSTYRKA
  devices/ikea/vindstyrka_air_quality_sensor.json
Labels: Device Improvement

#7248 Updated DDF for IKEA STARKVIND Air Purifier
  devices/ikea/starkvind_air_purifier.json
  devices/ikea/starkvind_parse_pm2_5.js
Labels: Device Improvement

#7264 Add DDF for frient MOSZB-154 motion sensor pro
  devices/frient/moszb-154_motion_sensor.json
Labels: Device Request

#7260 DDF for Tuya / Nous contact sensor E3 sensor (_TZ3000_v7chgqso)
  devices/tuya/_TZ3000_TS0203_door_sensor.json
Labels: Device Request
