Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2023-02, with the labels that each got.

#6690 Adds new manufacturerName for HAMA TRV
  product_match.cpp
Labels: Device Request

#6694 Update SMT402AD swversion attr to be fullfilled from Application version
  devices/stelpro/smt402ad.json
Labels: Enhancement

#6687 Update DDF for Schneider connected socket outlet devices
  devices/wiser/fuga_socket_outlet.json
  general.xml
Labels: Enhancement

#6719 Update _TZ3000_n2egfsli_door_sensor.json to add another sensor
  devices/tuya/_TZ3000_n2egfsli_door_sensor.json
Labels: Device Request

#6714 Save automatic state change on `config/duration` to database
  rest_sensors.cpp
Labels: Fix

#6699 Add support for SNZB-02D SonOff multisensor
  devices/sonoff/snzb-02-multisensor.json
Labels: Device Request

#6689 Add DDF for Bosch Plug compact EU BSP-FZ2
  devices/bosch/plug_compact.json
Labels: Device Request

#6572 Fix `type` "Unknown" for `lights` resource for coordinator
  light_node.cpp
Labels: Fix

#6723 Ignore invalid Aqara -100 temperature
  devices/xiaomi/xiaomi_wsdcgq11lm_temp_hum_press_sensor.json
Labels: Fix

#6727 DDF, add support for Adeo\Lexman door+vibration sensor
  devices/adeo/ledsenk08_door_vibration_sensor.json
Labels: Device Request

#6720 DDF for Loratap ZigBee 3.0 Wireless 4-Button Remote Control
  button_maps.json
  devices/tuya/_TZ3000_ygvf9xzp_4gang_remote.json
Labels: Device Request

#6681 DDf add support for Robb Smarrt On/Off ROB_200-017-0
  devices/robb_smarrt/rob_200-017-0_plug.json
Labels: Device Request

#6323 Expose change timeout via optional write function attribute `change.timeout`
  devices/xiaomi/xiaomi_jtqj-bf-01lm_gas_leak_detector.json
  devices/xiaomi/xiaomi_jtyj-gd-01lm_smoke_detector.json
  devices/xiaomi/xiaomi_rtcgq14lm_p1_presence_sensor.json
  devices/xiaomi/xiaomi_wrs-r02_h1_switch.json
  rest_sensors.cpp
Labels: Enhancement

#6667 DDF : add support for Innr 250
  devices/innr/rc_250.json
  general.xml
Labels: Device Request

#6746 Add DDF for Sengled Smart Light Bulb E21-N1EA
  devices/sengled/E21-N1EA
Labels: Device Request

#6754 DDF add support for Wattle Door Lock SPL Smart
  devices/wattle/hc-slm-1_doorlock.json
Labels: Device Request

#6748 DDF add supprt for the Heiman HS3AQ carbondioxide detector
  devices/heiman/HS3AQ_air_quality_sensor.json
  general.xml
Labels: Device Request

#6740 DDF add support for a tuya 1 Gang switch
  button_maps.json
  devices/tuya/_TZ3000_itb0omhv_1gang_bat.json
Labels: Device Request

#6661 Support Tuya TS0219 siren.
  rest_lights.cpp
Labels: Device Request

#6674 Add DDF for a Tuya TRV _TZE200_hhrtiq0x , and prepare the code to use it
  devices/generic/items/config_windowopen_set_item.json
  devices/tuya/_TZE200_hhrtiq0x_nedis_trv.json
  devices/tuya/_TZE200_thbr5z34_awow__trv.json
  devices/tuya/tuya_trv_preset.js
  devices/tuya/tuya_trv_preset_set.js
  rest_sensors.cpp
Labels: Device Request

#6708 Update ZY-M100 DDF (fix & adding precision - breaking change for triggerdistance)
  devices/tuya/ZY-M100_human_breathing_presence.json
Labels: Fix

#5838 Add DDFs for Xiaomi Cube MFKZQ01LM, T1 MFKZQ11LM and T1 Pro MFKZQ12LM
  database.cpp
  de_web_plugin.cpp
  devices/generic/items/state_gesture_item.json
  devices/xiaomi/xiaomi_cube_gestures.js
  devices/xiaomi/xiaomi_cube_rotation.js
  devices/xiaomi/xiaomi_mfkzq01lm_cube.json
  devices/xiaomi/xiaomi_mfkzq11lm_t1_cube.json
  devices/xiaomi/xiaomi_mfkzq12lm_t1_pro_cube.json
Labels: Device Request
