Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2024-08, with the labels that each got.

#7873 Fix potential SEGV in Mueller effects
  de_web_plugin.cpp
Labels: Fix

#7850 DDF for Develco/frient electricity meter interface 2 EMIZB-141
  devices/develco/emizb-141_electricity_meter_interface_2.json
  devices/frient/emizb-141_electricity_meter_interface_2.json
Labels: Device Request

#7855 DDF for ADEO 16 A plug LDSENK02F
  devices/adeo/ldsenk02f_plug.json
Labels: Device Request

#7829 DDF for icasa Zigbee On/Off Switch PRO ICZB-IW21SW.json
  devices/icasa/ICZB-IW21SW.json
Labels: Device Request

#7828 DDF for icasa Zigbee Dimmer Pro ICZB-IW21D
  devices/icasa/ICZB-IW21D.json
Labels: Device Request

#7815 DDF for Nedis smoke sensor (_TYZB01_wqcac7lo)
  devices/nedis/nedis_zbds10wt.json
  devices/nedis/tuya_swversion.js
Labels: Device Request

#7831 Ubisys H1 Manufacturer-specific attributes
  general.xml
Labels: Enhancement

#7830 DDF for SONOFF motion sensor SNZB-03P
  devices/sonoff/snzb-03p_motion_sensor.json
Labels: Device Request

#7838 DDF clone for Blitzwolf BW-SHP13 (_TZ3000_3ooaz3ng)
  devices/blitzwolf/bw_shp13_smart_plug.json
Labels: Device Request

#7875 DDF for Third Reality smart plug 3RSPE01044BZ
  devices/third_reality/3RSPE01044BZ_smart_plug.json
Labels: Device Request

#7869 DDF for Nous B3Z 2 gang switch module (_TZ3000_aaifmpuq)
  devices/tuya/_TZ3000_2channel_module.json
Labels: Device Request

#7865 DDF for Tuya PIR 24G radar sensor (ZG-204ZM)
  devices/tuya/_TZE200_kb5noeto_motion_sensor.json
  devices/tuya/lux_to_lightlevel_50.js
Labels: Device Request

#7839 Make `state/alert` customizable through DDF
  devices/develco/heszb-120_heat_detector.json
  devices/develco/smszb-120_smoke_detector.json
  devices/frient/heszb-120_heat_detector.json
  devices/frient/smszb-120_smoke_detector.json
  rest_lights.cpp
Labels: Enhancement

#7847 DDF for Aqara Dual Relay Module T2 (DCM-K01)
  devices/generic/subdevices/on_off_switch.json
  devices/xiaomi/xiaomi_dcm-k01_t2_dual_relay.json
Labels: Device Request

#7825 Correct Xiaomi internal model ID for Aqara T1 temp/hum sensor
  devices/xiaomi/xiaomi_th-s02d_t1_temp_hum_sensor.json
Labels: Enhancement

#7877 Add guards in ResourceItem and Device Access
  device_access_fn.cpp
  resource.cpp
Labels: Fix

#7822 Removal of legacy code for various devices
  bindings.cpp
  database.cpp
  de_web_plugin.cpp
  devices/sinope/th1124zb.json
  electrical_measurement.cpp
  light_node.cpp
  power_configuration.cpp
  thermostat.cpp
Labels: Enhancement

#7880 Make ResourceItemDescriptors index based
  device_js/device_js_duktape.cpp
  resource.cpp
  resource.h
Labels: Fix

#7882 REST-API always return Content-Length header
  de_web_plugin.cpp
Labels: Enhancement

#7883 Fix RAttrOtaVersion item null pointer check
  de_otau.cpp
Labels: Fix

#7879 DDF for Legrand Contactor
  devices/legrand/Contactor.json
Labels: Device Request

#7886 DDF for Tuya water leak clone (_TZ3000_wuep9zng)
  devices/tuya/_TZ3000_TS0207_water_leak_sensor.json
Labels: Device Request

#7878 DDF for Woox water leak sensor R7050 (_TZ3000_arw23zcs)
  devices/tuya/_TZ3000_TS0207_water_leak_sensor.json
Labels: Device Request

#7843 DDF for Sonoff Zigbee Water Leak Sensor(SNZB-05P)
  devices/sonoff/snzb-05p.json
Labels: Device Request

#7846 DDF for Aqara wall outlet H2 EU (WP-P01D)
  devices/xiaomi/xiaomi_wp-p01d_h2_wall_outlet.json
Labels: Device Request

#7894 Don't show non-public items in `lights` resources
  rest_lights.cpp
Labels: Fix
