Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2024-10, with the labels that each got.

#7956 Even more additional special effects for Hue lights
  devices/philips/bridge.json
  devices/philips/fc03_state.js
  devices/philips/light_zb3_white_ambiance.json
  general.xml
  hue.cpp
Labels: Device Improvement, Fix, Enhancement

#7952 DDF clone for Paulmann 501.34 light
  devices/paulmann/501_34_battery_switch.json
Labels: Device Request

#7936 DDF for additional Philips Hue White & Color Ambiance lights
  devices/philips/light_zb3_C.json
Labels: Device Request

#7941 Support Fire Angel Zigbee Module (P-LINE)
  de_web_plugin.cpp
  device.cpp
  device_ddf_init.cpp
  devices/fireangel/0001_battery_voltage.js
  devices/fireangel/0019_swversion.js
  devices/fireangel/co_alarm.json
  devices/fireangel/generic_alarm.json
  devices/fireangel/smoke_alarm.json
  devices/generic/items/attr_zonetype_item.json
  resource.cpp
  resource.h
  rest_lights.cpp
  rest_sensors.cpp
Labels: Feature Request, Device Request, Enhancement

#7957 Give DDF content precedence over legacy sensor load
  database.cpp
Labels: Enhancement

#7827 Removal of `config/temperature` for various Xiaomi devices
  devices/xiaomi/lumi_motion_ac01.json
  devices/xiaomi/lumi_sensor_wleak_aq1.json
  devices/xiaomi/lumi_vibration_aq1.json
  devices/xiaomi/xiaomi_mccgq11lm_openclose_sensor.json
  devices/xiaomi/xiaomi_rtcgqq11lm_presence_sensor.json
  devices/xiaomi/xiaomi_wxkg11lm_mini_switch.json
Labels: Enhancement, Breaking Change

#7993 DDF clone for Tuya multi sensor (_TZ3000_bjawzod); add battery polling
  devices/tuya/_TZ3000_TS0201_temp_hum_sensor.json
Labels: Device Request
