Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2024-03, with the labels that each got.

#7668 Use bundled OpenSSL on macOS
  CMakeLists.txt
  crypto/mmohash.cpp
  crypto/scrypt.cpp
Labels: Fix

#7669 Fix printf format warnings and align DEV prefix in device.cpp
  device.cpp
Labels: Enhancement

#7674 Move REST API common code to rest_api.cpp/h
  CMakeLists.txt
  de_web_plugin.cpp
  de_web_plugin_private.h
  electrical_measurement.cpp
  hue.cpp
  rest_api.cpp
  rest_api.h
  rest_configuration.cpp
  rest_lights.cpp
  rest_sensors.cpp
  simple_metering.cpp
  xiaomi.cpp
  xmas.cpp
  zcl_tasks.cpp
Labels: Enhancement

#7672 Improve rules database handling
  database.cpp
  rest_rules.cpp
  rest_sensors.cpp
  rule.cpp
  rule.h
Labels: Enhancement

#7675 Replace use of deCONZ::jsonStringFromMap() by Json::serialize()
  gateway.cpp
  rest_schedules.cpp
  sensor.cpp
Labels: Enhancement

#7652 Mode in State attribute in Hue Effects cluster as bitmap
  devices/philips/fc03_state.js
Labels: Device Improvement

#7676 DDF for Aqara E1 Water Leak Sensor SJCGQ13LM
  devices/xiaomi/xiaomi_sjcgq13lm_e1_wleak_sensor.json
Labels: Device Request

#7630 DDF for ubisys S1(-R) corrected
  devices/ubisys/s1_5501_s1r_5601.json
Labels: Fix

#7678 Don't load rules lasttriggered and timestriggered from database
  database.cpp
Labels: Enhancement

#7357 DDF for SONOFF TRVZB Thermostat
  devices/sonoff/trvzb-thermostat.json
Labels: Device Request

#7575 DDF for Bosch Thermostat II 230V
  devices/bosch/room_thermostat2_230V.json
Labels: Device Request

#7582 DDF for Sonoff SNZB-06P
  devices/sonoff/snzb-06p.json
  general.xml
Labels: Device Request

#7592 DDF for IKEA ASKVADER on/off switch
  devices/ikea/askvader_on_off_switch
Labels: Device Request

#7589 DDF for Xiaomi Mijia Wireless Switch WXKG01LM
  devices/xiaomi/xiaomi_wxkg01lm_mini_switch
Labels: Device Request

#7590 DDF for Xiaomi Aqara wireless switch WXKG11LM
  devices/xiaomi/xiaomi_wxkg11lm_mini_switch
Labels: Device Request

#7595 DDF for Aqara T1 wireless mini switch WB-R02D
  button_maps.json
  devices/xiaomi/xiaomi_wb-r02d_t1_wireless_mini_switch.json
Labels: Device Request

#7594 DDF for Namron 4512762 open/close sensor
  devices/namron/4512762_open_close_sensor.json
Labels: Device Request

#7593 DDF for Tuya smoke sensor YG400A (_TZ3210_up3pngle)
  devices/tuya/_TZ3210_up3pngle_TS0205_smoke_sensor.json
Labels: Device Request

#7680 DDF Tuya clone _TZ3000_hhiodade and update general.xml
  devices/tuya/_TZ3000_TS0011_1gang_switch_module.json
  general.xml
Labels: Device Request

#7658 DDF Tuya multi sensor clone (_TZE200_zl1kmjqx)
  devices/tuya/_TZE200_bjawzodf_humidity_temp.json
Labels: Device Request

#7650 Fix temperature reporting for Aqara Single Switch Module T1 (With Neutral) SSM-U01
  devices/xiaomi/xiaomi_ssm-u01_t1_switch.json
Labels: Fix
