Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2024-04, with the labels that each got.

#7690 Add support for Hue LWA028
  devices/philips/light_zb3_white.json
Labels: Device Request

#7683 DDF for Bosch Light/shutter control II
  button_maps.json
  devices/bosch/bmct-slz_shutter_light_control2.json
  general.xml
Labels: Device Request

#7677 DDF for Sunricher Ceiling Mount Microwave Occupancy Sensor SR-ZG9030A-MW
  devices/sunricher/SR-ZG9030A-MW.json
  general.xml
Labels: Device Request

#7572 DDF add suppport for Xiaomi ZNCLBL01LM
  devices/xiaomi/xiaomi_lumi.curtain.agl001.js
  rest_lights.cpp
Labels: Device Request

#7717 DDF clone for Tuya _TZ3000_TS011F_smart_plug
  devices/tuya/_TZ3000_TS011F_smart_plug.json
Labels: Device Request

#7712 DDF clone for Tuya 2-gang switch (_TZ3000_mtnpt6ws)
  devices/tuya/_TZ3000_2channel_module.json
Labels: Device Request

#7714 DDF set Gold status for Moes MS-104BZ
  devices/moes/Moes_MS-104BZ_wired_switch_2_gangs.json
Labels: Enhancement

#7706 DDF clones for Tuya TS0210 vibration sensors and renamed DDF
  devices/tuya/_TZ3000_TS0210_vibration_sensor.json
Labels: Device Request

#7704 Fix state of Hue lights not always updated correctly
  devices/philips/fc03_state.js
Labels: Bug report, Device Improvement

#7697 Add DDF for icasa AC Dimmer ICZB-IW11D
  devices/icasa/ICZB-IW11D.json
Labels: Device Request

#7695 Add support for IKEA TRADFRI Driver 30W
  devices/ikea/tradfri_driver_30w.json
Labels: Device Request

#7694 DDF clones for Hue white ambiance ZB3 lights (LTA009, LTU001, 915005996501)
  devices/philips/light_zb3_white_ambiance.json
Labels: Device Request

#7719 Removing erroneous temperature exposure for Aqara SSM-U01 switch
  devices/xiaomi/xiaomi_ssm-u01_t1_switch.json
Labels: Fix

#7715 Added DDF for Moes ZM-105-M 1-Gang Dimmer Module
  devices/moes/Moes_MS-105-M_1_gang_dimmer_module.json
Labels: Device Request

#7708 DDF for Moes ZM-105-M 1 gang dimmer (_TZE204_dcnsggvz)
  devices/generic/subdevices/dimmer_switch.json
  devices/moes/Moes_ZM-105-M_1_gang_dimmer.json
Labels: Device Request

#7700 DDF clone for Tuya door sensor (_TZ3000_1bwpjvlz)
  devices/tuya/_TZ3000_TS0203_door_sensor.json
Labels: Device Request

#7723 Refactor string cache to use atom table
  resource.cpp
  resource.h
  utils/stringcache.cpp
  utils/stringcache.h
Labels: Enhancement

#7724 Use modelid.toLatin1String() in sendConfigureReportingRequest()
  bindings.cpp
Labels: Enhancement

#7727 Make various database function local to database.cpp
  database.cpp
  de_web_plugin_private.h
Labels: Enhancement

#7732 Add missing file extension
  devices/ikea/askvader_on_off_switch.json
  devices/xiaomi/xiaomi_wxkg01lm_mini_switch.json
  devices/xiaomi/xiaomi_wxkg11lm_mini_switch.json
Labels: Fix

#7731 DDF clone for Namron Touch thermostat 16A (4512752)
  devices/namron/4512737_thermostat.json
Labels: Device Request
