Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2024-01, with the labels that each got.

#7513 IKEA Vallhorn motion sensor device request
  devices/ikea/0400_lightlevel.js
  devices/ikea/vallhorn_wireless_motion_sensor.json
Labels: Device Request

#7517 Fix setting `config/displayflipped` and `config/externalsensortemp` for Bosch thermostat II
  devices/bosch/thermostat2.json
Labels: Fix

#7325 DDF for LIDL Livarno window blinds (Tuya)
  devices/tuya/_TZB000_42ha4rsc_window_blinds.json
Labels: Device Request

#7522 DDF for Osram Plug 01
  devices/osram/plug_01.json
Labels: Device Request

#7520 Add two new aliexpress manufacturers for Tuya TS0041 smart button
  button_maps.json
  devices/tuya/_TZ3000_TS0041_1gang_bat.json
Labels: Device Request

#7534 DDF Add support for Doorlock clone from Onesti Products AS
  devices/easyaccess/easyfingertouch_doorlock.json
Labels: Device Request

#7527 DDF for IKEA bulb E14 W opal 400lm
  devices/ikea/tradfri_bulb_e14_w_opal_400lm.json
Labels: Device Request

#7528 DDF for Xiaomi MHO-C401N temperature and humidity sensor
  devices/xiaomi/xiaomi_mho-c401n_temp_hum_sensor.json
Labels: Device Request

#7521 DDF for Hue lightstrip plus (LCL006)
  devices/philips/light_zb3_C.json
Labels: Device Request

#7511 IKEA SOMRIG Shortcut Button support
  button_maps.json
  devices/ikea/somrig_shortcut_button.json
Labels: Device Request

#7559 Fix non-functioning Aqara T1 open/close sensor
  devices/xiaomi/xiaomi_dw-s03d_t1_openclose_sensor.json
Labels: Fix

#7560 Make Ikea Parasoll IAS Zone enrollment more robust
  devices/ikea/parasoll_open_close_sensor.json
Labels: Enhancement

#7549 DDF add Tuya water sensor clone (_TZ3000_kstbkt6a)
  devices/tuya/_TZ3000_TS0207_water_leak_sensor.json
Labels: Device Request

#7537 DDF for Avatto TRV16 and TRV06 TRVs + add support for offset (_TZE200_TS0601)
  devices/tuya/_TZE200_TS0601_trv.json
Labels: Device Improvement, Enhancement

#7523 DDF add clone of Tuya temperature and humidy sensor (TZE200_locansqn)
  devices/tuya/_TZE200_TS0601_humidity_temp.json
Labels: Device Request
