Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2024-09, with the labels that each got.

#7910 DDF Editor add File -> Close menu entry
  ui/device_widget.cpp
Labels: Enhancement

#7908 DDF for Tuya temperature and humidity sensor (_TZ3210_ncw88jfq)
  devices/tuya/_TZ3210_ncw88jfq_temp-hum-sensor.json
Labels: Device Request

#7905 DDF for further NEO NAS-WR01B smart plug (_TZ3000_xzhnra8x)
  devices/neo/NAS-WR01B_TS011F.json
Labels: Device Request

#7900 DDF for Aqara Presence Sensor FP1E
  devices/generic/items/config_detectionrange_item.json
  devices/generic/items/state_distance_item.json
  devices/xiaomi/lumi_sensor_occupy.agl1.json
  general.xml
  resource.cpp
  resource.h
  rest_sensors.cpp
Labels: Device Request

#7896 DDF for Osram LIGHTIFY Indoor Flex RGBW
  devices/osram/lightify_indoor_flex_rgbw.json
Labels: Device Request

#7890 DDF for NAS-TH07BH temperature sensor (_TZ3000_TS0201)
  devices/tuya/_TZ3000_TS0201_temp_hum_sensor.json
Labels: Device Request

#7889 DDF clone for Tuya temperature and humidity sensor (_TZ3000_bjawzodf)
  devices/tuya/_TZ3000_TS0201_temp_hum_sensor.json
Labels: Device Request

#7895 Add DDF for Aqara Ceiling Light T1M (CL-L02D)
  devices/xiaomi/lumi_light_acn032.json
Labels: Device Request

#7916 Fix Aqara Dual Relay Module T2 (DCM-K01) consumption values
  devices/xiaomi/xiaomi_dcm-k01_t2_dual_relay.json
Labels: Fix

#7897 DDF for Third Reality, Inc smart button 3RSB22BZ
  devices/third_reality/3RSB22BZ_smart_button.json
Labels: Device Request

#7937 DDF for Bosch RADION TriTech ZB Wireless Motion Detector RFDL-ZB-MS
  devices/bosch/bosch_battery.js
  devices/bosch/rfdl-zb-ms_motion_sensor.json
Labels: Device Request

#7939 DDF add a clone for the LYWSD03MMC , Xiaomi multi sensor
  devices/xiaomi/xiaomi_lywsd03mmc.json
Labels: Device Request

#7934 DDF clone for eWeLink SNZB-02P temperature and humidity sensor
  devices/sonoff/snzb-02-multisensor.json
Labels: Device Request

#7932 Add DDF for frient motion sensor 2 - pet (MOSZB-153)
  devices/frient/moszb-153_motion_sensor.json
Labels: Device Request

#7924 DDF for Heiman COSensor-EM
  devices/heiman/cosensor-em.json
Labels: Device Request

#7920 DDF for Ledvance CLA60 RGBW Z3
  devices/ledvance/ledvance_cla60_rgbw_z3.json
Labels: Device Request

#7915 DDF for Ledvance B40 DIM Z3
  devices/ledvance/b40_dim_z3.json
Labels: Device Request

#7919 DDF clone for the Livarno covering (_TZB000_yqjaollc)
  devices/tuya/_TZB000_42ha4rsc_window_blinds.json
Labels: Device Request

#7933 DDF for 4 button sunrichter/NAMRON AS switch 4512719
  devices/sunricher/4button_switch.json
Labels: Device Request

#7922 Additional special effects for Hue lights
  de_web_plugin.cpp
  de_web_plugin_private.h
  devices/philips/fc03_state.js
  devices/philips/light_zb3_C.json
  devices/philips/light_zb3_C_festavia.json
  devices/philips/light_zb3_C_gradient.json
  devices/philips/light_zb3_white.json
  devices/philips/light_zb3_white_ambiance.json
  devices/philips/light_zll_C.json
  devices/philips/light_zll_white_ambiance.json
  general.xml
  hue.cpp
  light_node.cpp
  resource.h
  rest_lights.cpp
  xmas.cpp
Labels: Device Improvement, Fix, Enhancement

#7904 DDF clone and fixes for Tuya Smart Knobs (_TZ3000_* TS004F)
  device_ddf_init.cpp
  devices/tuya/_TZ3000_4fjiwweb_smart_knob.json
  devices/tuya/_TZ3000_4fjiwweb_smart_knob_buttons.js
  devices/tuya/_TZ3000_TS004F_smart_knob.json
  devices/tuya/_TZ3000_TS004F_smart_knob_bri.js
  devices/tuya/_TZ3000_TS004F_smart_knob_ct.js
  devices/tuya/_TZ3000_TS004F_smart_knob_group_add.js
  devices/tuya/_TZ3000_TS004F_smart_knob_group_view.js
  devices/tuya/_TZ3000_TS004F_smart_knob_on.js
Labels: Device Improvement, Breaking Change

#7951 Fix missing battery status for various Tuya sensors
  devices/tuya/_TZ3210_ncw88jfq_temp-hum-sensor.json
  devices/tuya/ts0202_presence_sensor.json
Labels: Fix

#7940 DDF for Sonoff Smart water valve
  devices/generic/items/state_flow_item.json
  devices/sonoff/swv_smart_water_valve.json
Labels: Device Request
