Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2025-03, with the labels that each got.

#8127 DDF for GE Jasco on/off and dimmable lights (43076, 43080, 43100, 43102)
  devices/Jasco-GE/dimmable_light_43080.json
  devices/Jasco-GE/onoff_light_43076.json
  devices/Jasco-GE/onoff_light_43100.json
  devices/Jasco-GE/onoff_light_43102.json
Labels: Device Request

#8136 DDF clone for Tuya 24G Radar Motion Sensor (_TZE204_ztqnh5cg)
  devices/tuya/ZY-M100_human_breathing_presence.json
Labels: Device Request

#8135 Fix Aqara vibration sensor sensitivity configuration
  devices/xiaomi/lumi_vibration_aq1.json
  general.xml
Labels: Fix

#8145 Fix siren of Frient Intelligent smoke alarm (SMSZB-120) #8040
  devices/frient/smszb-120_smoke_detector.json
Labels: Fix

#8146 Prevent initial setup crash in debug build
  device_descriptions.cpp
Labels: Fix

#8144 DDF for Tuya Zigbee mmwave Radar Detektor Luminanz (_TZE204_ex3rcdha)
  devices/tuya/_TZE204_ex3rcdha_motion_luminosity.json
Labels: Device Request

#8142 DDF for Mumibiz TYZGTH4CH relay with temperature (_TZ3218_ya5d6wth)
  devices/tuya/_TZ3218_ya5d6wth_relay_temperature.json
Labels: Device Request

#8140 DDF for Third Reality Smart Soil Moisture Sensor (3RSM0147Z)
  devices/third_reality/3RSM0147Z_moisture_sensor.json
Labels: Device Request

#8147 Fix printf format warnings
  bindings.cpp
  change_channel.cpp
  de_web_plugin.cpp
  green_power.cpp
  ias_zone.cpp
  rest_sensors.cpp
  tuya.cpp
  websocket_server.cpp
Labels: Fix

#8134 DDF clone for Tuya 4 Gang Remote (_TZ3000_j61x9rxn) and ZemiSmart ZRM4 (_TZ3000_xwuveizv, _TZ3000_wkai4ga5)
  button_maps.json
  devices/tuya/_TZ3000_TS0044_4gang_remote.json
Labels: Device Request

#8150 DDF for Schneider Wiser CCT5011-0002
  devices/wiser/switch_module_1gang.json
Labels: Device Request

#8149 Refactor button maps (part 1)
  button_maps.cpp
  button_maps.h
  de_web_plugin.cpp
  de_web_plugin_private.h
  product_match.cpp
  product_match.h
  read_files.cpp
  read_files.h
  rest_devices.cpp
Labels: Enhancement

#8153 Removing the file paths from DDFs
  devices/innr/sp_120.json
  devices/innr/sp_234.json
  devices/namron/4512770-4in1-MultiSensor.json
  devices/nedis/nedis_zbrc10wt.json
  devices/owon/ac201.json
  devices/sonoff/snzb-05p.json
  devices/wiser/fuga_dimmer_switch.json
  devices/wiser/fuga_double_relay_switch.json
Labels: Fix

#8155 DDF for frient Smart Siren (SIRZB-111)
  devices/frient/sirzb-111_siren.json
Labels: Device Request, Device Improvement

#8157 Update ancillary_control.json
  devices/generic/subdevices/ancillary_control.json
Labels: Device Improvement
