Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2025-07, with the labels that each got.

#8264 Deprecate product_match.cpp
  product_match.cpp
Labels: Enhancement

#8261 DDF clone for Scimagic Soil Moisture Sensor (_TZE284_oitavov2)
  devices/tuya/_TZE200_myd45weu_soil_sensor.json
Labels: Device Request

#8254 Fix battery reading of Sonoff water valve SWV-BSP
  devices/sonoff/swv_smart_water_valve.json
Labels: Fix

#8274 Add actor model to query device resources and resource items as VFS
  CMakeLists.txt
  database.cpp
  de_web_plugin.cpp
  event_queue.cpp
  plugin_am.cpp
Labels: Enhancement

#8275 Fix Xiaomi TH-S02D sensor pressure value calculation
  devices/xiaomi/xiaomi_th-s02d_t1_temp_hum_sensor.json
Labels: Fix

#8270 DDF for Tuya TS0046 6-gang switch
  button_maps.json
  devices/tuya/_TZ3000_TS0046_6gang_remote.json
Labels: Device Request

#8276 DDF for Third Reality Motion Sensor R1 (3RSMR01067Z)
  devices/third_reality/3RSMR01067Z_R1_motion_sensor
Labels: Device Request

#8277 DDF for Tuya light sensor (_TZ3000_9kbbfeho)
  devices/tuya/_TZ3000_8uxxzz4b_light_sensor.json
Labels: Device Request

#8279 Fix for new IKEA RODRET model identifier
  button_maps.json
  devices/ikea/rodret_dimmer.json
Labels: Device Request

#8281 DDF for Philips Hue smart plug LOM006
  devices/philips/lom007_smart_plug.json
Labels: Device Request
