Repository dresden-elektronik/deconz-rest-plugin, pull requests merged in 2025-02, with the labels that each got.

#8108 DDF clone of Tuya door sensor (_TZ3000_wut53hfm)
  devices/tuya/_TZ3000_TS0203_door_sensor.json
Labels: Device Request

#8112 IKEA light bulbs rename and intervals adjusted
  devices/ikea/tradfri_bulb_e14_ws_candle_opal_470lm.json
  devices/ikea/tradfri_bulb_e27_ws_candle_opal_1055lm.json
Labels: Device Request

#8110 DDF for IKEA bulb E14 WS 470lm - intervals extended
  devices/ikea/tradfri_bulb_e14_ws_470lm.json
Labels: Device Request

#7979 Refactor `lightToMap()` and `sensorToMap()`
  .gitignore
  de_web_plugin_private.h
  device.cpp
  devices/generic/items/attr_id_item.json
  devices/generic/items/attr_otaversion_item.json
  devices/generic/items/cap_bri_move_with_onoff_item.json
  devices/generic/items/cap_on_off_with_effect_item.json
  devices/generic/items/config_bri_options_item.json
  devices/generic/items/state_humidity_item.json
  devices/generic/items/state_lift_item.json
  devices/generic/items/state_power_divisor_item.json
  devices/generic/items/state_pressure_bis_item.json
  devices/generic/items/state_pressure_item.json
  devices/generic/items/state_tilt_item.json
  light_node.cpp
  resource.cpp
  resource.h
  rest_configuration.cpp
  rest_lights.cpp
  rest_sensors.cpp
  sensor.cpp
Labels: Enhancement

#8074 Refactor poll scheduler legacy code vs. Device code
  de_web_plugin.cpp
  de_web_plugin_private.h
  device.cpp
  device_tick.cpp
  ias_zone.cpp
  permitJoin.cpp
  poll_manager.cpp
  resource.cpp
  resource.h
Labels: Enhancement

#8117 DDF clone for Tuya 2 gangs switch (_TZ3000_fkvaniuu)
  button_maps.json
  devices/tuya/_TZ3000_TS0042_2gang_remote.json
Labels: Device Request

#8113 DDF clone for Tuya thermostat (_TZE284_ogx8u5z6)
  devices/tuya/_TZE200_TS0601_trv.json
Labels: Device Request

#8025 DDF for IKEA INSPELNING
  devices/ikea/inspelning_smart_plug.json
Labels: Feature Request, Device Request

#8118 DDF clone for LCD008 Hue white and color Ambiance slim spot 90mm
  devices/philips/light_zb3_C.json
Labels: Device Request

#8124 DDF for IKEA bulb E27 WS clear 806lm
  devices/ikea/tradfri_bulb_e27_ws_clear_806lm.json
Labels: Device Request

#8121 DDF add a clone for a Tuya door sensor
  devices/tuya/_TZ3000_TS0203_door_sensor.json
Labels: Device Request
